html, body {
   margin: 0 !important;
   padding: 0 !important;
}

.card-padding {
   padding-left: 20px;
   padding-right: 20px;
}
 
 .grid-margin {
   margin-bottom: 20px !important;
}

.card-title {
   display: flex;
   justify-content: center;
   padding: 12px;
}

.card-title p {
   color: #1565C0;
   font-size: 1.2em;
   text-transform: uppercase;
}

.progress {
   margin: 50px;
}

.drawer {
   width: 250px !important;
   background-color: #424242 !important;
   position: relative;
}

.bottom-menu {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}

.logo-container {
   display: flex;
   justify-content: center;
}

.logo-container img {
   width: 200px;
   height: auto;
}

.app-bar {
   height: 70px !important;
   background-color: white !important;
   padding-left: 270px;
   padding-right: 20px;
}

.breadcrumb {
   color: #212121 !important;
   height: 70px;
   display: flex;
   align-items: center;
}

.nav-button {
   color: white !important;
}

.justify-end {
   display: flex;
   justify-content: flex-end;
}

.user-app-name {
   height: 70px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.nav-icon {
   margin-right: 15px;
}

.route-padding {
   padding-left: 280px;
   padding-top: 20px;
}

.task-container {
   padding: 15px;
}

.button-margin {
   margin-right: 15px !important;
}

.justify-center {
   display: flex;
   justify-content: center;
}

.home-image {
   width: 100%;
   height: auto;
}